/*General*/
body {
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

a, .info-card {
  transition: all 0.3s;
}

.mobile {
  display: none;
}

p {
  font-family: "Muli", "Helvetica", sans-serif;
  font-size: 1rem;
}

a {
  font-size: 0.85rem;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FF5722;
  text-decoration: none;
}

a:hover {
  color: #ffb100;
}

h1, h2, h3 {
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h1 {
  font-size: 2rem;
  color: rgb(63, 70, 88);
}

h2 {
  font-size: 1.25rem;
  color: rgb(63, 70, 88);
}

h3 {
  font-size: 1rem;
  color: rgb(63, 70, 88);
}

.container {
  max-width: 1500px;
  margin: auto;
}

/*Navbar*/
nav {
  height: 4rem;
  width: 100%;
  color: #fff;
  background-color: rgb(63, 70, 88);
}

nav a, footer a {
  color: #fff;
}

nav a:hover, footer a:hover {
  color: #ffb100;
}

nav, nav ul, .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.logo-text span {
  font-weight: 800;
  color: #ffb100;
}

.logo {
  padding-left: 1.5rem;
}

.logo img {
  height: 2rem;
}

nav ul {
  padding-right: 1.5rem;
}

nav ul li {
  padding: 1rem;
}

@media only screen and (max-width: 768px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: flex;
    justify-content: space-around;
  }
  .logo {
    padding: 0rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}

/*Header*/
header {
  background-color: #f2f2f2;
  box-shadow: 0 2px 6px rgba(0,0,0,.2);
}

header .container {
  display: flex;
  align-items: center;
}

header img {
  max-width: 60%;
  margin: 2rem 1.5rem;
}

.main-banner p {
  font-size: 1.2rem;
  margin: 1.5rem 0;
}

.btn {
  display: inline-block;
  background-color: #ffb100;
  color: #fff;
  font-size: 1.3rem;
  padding: 0.5rem 3rem;
}

.btn:hover {
  color: #ffb100;
  background-color: rgb(63, 70, 88);
}

@media only screen and (max-width: 768px) {
  header .container {
    flex-flow: column;
  }
   header img {
     max-width: 100%;
     margin: 0;
   }
   .main-banner {
     padding: 2rem 1.5rem;
   }
   .btn {
     display: block;
     max-width: 100%;
     text-align: center;
   }
}

/*Info section*/
#info {
  display: flex;
}

.info-main {
  max-width: 60%;
  margin: 2rem 1.5rem;
}

.info-main img {
  max-width: 100%;
  height: auto;
}

.info-secondary {
  padding-top: 1rem;
  border-left: 1px solid #f2f2f2;
}

.info-card {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.info-card:hover {
  background-color: #f2f2f2;
}

.info-card img {
  max-width: 35%;
  height: auto;
  margin-right: 1rem;
}

#info h2 {
  margin: 2rem 0 1.5rem 0;
}

#info .quote {
  margin: 1.5rem 0 0.5rem 0;
  font-weight: 300;
  font-style: italic;
}

@media only screen and (max-width: 768px) {
  #info .info-main {
    display: none;
  }
  #info .info-secondary {
    border: none;
    padding-top: 0;
    margin: 0 auto;
  }
  .info-card {
    flex-flow: column;
    align-items: flex-start;
  }
  .info-secondary {
    display: flex;
    flex-flow: column;
  }
  .info-card .mobile {
    max-width: 100%;
    height: auto;
  }
  .info-card img {
    margin: 0;
  }
  .info-banner {
    padding: 1rem;
  }
  .info-card:hover {
    background-color: #fff;
  }
}

/*Courses section*/
#courses {
  background-color: #f2f2f2;
  padding: 2rem 0;
}

#courses h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

#courses .courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 3rem;
}

.course-card {
  max-width: 30%;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,.2);
  margin: 0.5rem;
}

.course-card img {
  max-width: 100%;
  height: auto;
}

.course-banner {
  padding: 1rem;
}

.course-banner p {
  margin: 0.5rem 0;
}

@media only screen and (max-width: 768px) {
  #courses {
    background-color: #fff;
    border-top: 1px solid #f2f2f2;
  }
  #courses .courses {
    flex-flow: column;
    padding: 0 1rem;
  }
  .course-card {
    max-width: 100%;
    background-color: #f2f2f2;
    margin: 0.5rem;
  }
  .course-card img {
    display: none;
  }
  .course-banner p {
    display: none;
  }
}

/*Thesis section*/
#thesis {
  padding: 2rem 0;
}

#thesis h2 {
  text-align: center;
}

#thesis .info-secondary {
  border: none;
}

.thesis-info {
  display: flex;
}

.info-main video {
  max-width: 100%;
  height: auto;
}

.info-main h3 {
  margin: 1.5rem 0 0.5rem 0;
}

@media only screen and (max-width: 768px) {
  #thesis {
    border-top: 1px solid #f2f2f2;
  }
  #thesis .info-secondary {
    display: none;
  }
  #thesis .info-main {
    max-width: 100%;
    height: auto;
    margin: 2rem 0 0 0;
  }
  #thesis .info-main h3, #thesis .info-main p {
    display: none;
  }
}

/*Footer*/
footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  background-color: rgb(63, 70, 88);
  color: #fff;
}

footer a {
  margin: 0 0.5rem;
}

@media only screen and (max-width: 768px) {
  footer span {
    display: none;
  }
}






























.
