/*General*/
body {
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

p {
  font-family: "Muli", "Helvetica", sans-serif;
  font-size: 1rem;
}

a {
  font-size: 0.75rem;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
}

h1 {
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.container {
  max-width: 1200px;
  margin: auto;
}

/*Navbar*/
nav {
  height: 4rem;
  width: 100%;
}

nav, nav ul, .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.logo-text span {
  font-weight: 800;
}

.logo {
  padding-left: 1.5rem;
}

.logo img {
  height: 2rem;
}

nav ul {
  padding-right: 1.5rem;
}

nav ul li {
  padding: 0.5rem;
}

/*Header*/
header {
  background-color: #f2f2f2;
}

header .container {
  display: flex;
  align-items: center;
}

header img {
  max-width: 60%;
  margin: 2rem 1.5rem;
}

.main-banner {
  max-width: 40%;
}

.main-banner p {
  font-size: 1.2rem;
  margin: 1.5rem 0;
}

.btn {
  display: inline-block;
  background-color: #000;
  color: #fff;
  font-size: 1.1rem;
  padding: 0.5rem 3rem;
}




































.
